.container {
    background:
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
background-color: #300; 
background-size: 100px 100px;
}

.textBlock{
    width: 60%;
    height: 75%;
    color: white;
    font-family: 'Arapey', serif;
    font-size: 20px;
    text-align: center;
    margin: 10px 0px 0px 25px;
    background-color: grey;
    border-radius: 20px;
    
}
.answer{
    height: 150px;
    width: 200px;
    margin: 10px 0px 20px;
    font-family: 'Tangerine', cursive;
    color: whitesmoke;
    border-radius: 20px;
    font-size: 60px;
    text-align: center 
}
#win-lose{
    margin: 10px 0px 20px;
    font-family: 'Tangerine', cursive;
    color: whitesmoke;
    font-size: 30px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    
}
img{
    height: 100px;
    width: 100px;
}